<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:src="@{/js/bootstrap.min.js}" ></script>
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}">
    <title>All Products</title>
</head>
<body class="bg-body-secondary">
<nav th:replace="fragments/header :: header">
</nav>
<div  class=" container min-vh-100 d-flex flex-column align-items-center justify-content-start mt-5 pt-5 w-100 ">
    <table class="table  table-responsive-sm text-center px-2">
        <thead class="table-dark ">
            <tr>
                <th scope="col">#ID</th>
                <th scope="col">Name</th>
                <th scope="col">Stock</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody   th:if="${!products.isEmpty()}">
            <tr th:each="product : ${products}" >
                <th scope="row" th:text="${product.getProductId()}">1</th>
                <td th:text="${product.getName()}">Mark</td>
                <td th:text="${product.getStocks()}">@mdo</td>
                <td th:text="${product.getPrice()}">Otto</td>
                <td th:text="${product.getStatus()}">@mdo</td>
                <td class="dropdown">
                    <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Choose Action
                    </a>

                    <ul class="dropdown-menu bg-gradient">
                        <li><a class="dropdown-item btn-link text-primary " href="#">View</a></li>
                        <li><a class="dropdown-item btn-link text-warning" href="#">Edit</a></li>
                        <li><a class="dropdown-item btn-link text-danger" href="#">Delete</a></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}" ></script>
</body>
</html>