<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:src="@{/js/bootstrap.min.js}" ></script>
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}">
    <title>All Products</title>
</head>
<body class="bg-body-secondary">
<nav th:replace="fragments/header :: header">
</nav>

<div class="container min-vh-100 d-flex flex-column align-items-center justify-content-start pt-5 w-100 ">
    <div th:if="${product != null}" class="w-100 my-3">
        <h3 class="text-center card py-3">Product Details</h3>
        <article>
            <div>
                <h4>Product Name</h4>
                <p th:text="${product.getName()}">name</p>
            </div>
        </article>
    </div>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}" ></script>
</body>
</html>