<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:src="@{/js/bootstrap.min.js}" ></script>
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}">
    <title>All Products</title>
</head>
<body class="bg-body-secondary">
<nav th:replace="fragments/header :: header">
</nav>
<div class="container min-vh-100 d-flex flex-column align-items-center justify-content-center pt-5 w-100 ">
    <div>
        <h1 class="text-center">Product Details</h1>
    </div>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}" ></script>
</body>
</html>