<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home | IMS Spring Boot</title>
</head>
<body>
<form action="/products/add" class="bg-light shadow-lg rounded-2 py-5 px-5 col-md-7 d-flex flex-column justify-content-center align-items-center "  method="post" th:fragment="product-form" >

    <input hidden="hidden" th:value="${product.getProductId()}"  type="text" class="form-control" placeholder="product code" id="productId" name="productId" >

    <div class="w-100 mb-3">
        <label for="code" class="form-label">Product Code</label>
        <input type="text" class="form-control" placeholder="product Code" id="code" name="code" >
    </div>

    <div class="w-100 mb-3">
        <label for="name" class="form-label">Product Name</label>
        <input type="text" class="form-control" placeholder="product name" id="name" name="name" >
    </div>
    <div class="w-100 mb-3">
        <label for="description" class="form-label">Product Description</label>
        <input type="text" class="form-control" id="description" placeholder="Description" name="description" >
    </div>
    <div class="w-100 mb-3">
        <label for="stocks" class="form-label">Available Stocks</label>
        <input type="number" class="form-control" id="stocks" placeholder="Stocks" name="stocks">
    </div>

    <div class="w-100 mb-3">
        <select th:object="${categories}" name="categories" class="form-select">
            <option th:each="category : ${categories}" th:value="${category.getCategoryId}" th:text="${category.getCategoryName()}">C1</option>
        </select>
    </div>

    <div class="w-100 mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price" placeholder="price" name="price"
               min="0"
               max="1000" step="0.01"
        >
    </div>

    <div class="w-100 mb-3">
        <label for="unitPrice" class="form-label">Unit Price</label>
        <input type="number" class="form-control" id="unitPrice" placeholder="unit price" name="unitPrice"
               min="0"
               max="1000" step="0.01"
        >
    </div>

    <div class="w-100 mb-3">
        <label for="image" class="form-label">Product Image Link</label>
        <input type="text" class="form-control" placeholder="product image" id="image" name="image" >
    </div>

    <div class="w-100 mb-3">
        <label for="status" class="form-label">Product Status</label>
        <input type="text" class="form-control" id="status" placeholder="product status" name="status">
    </div>

    <div class="w-100 mb-3">
        <label for="provider" class="form-label">Provider Name</label>
        <input type="text" class="form-control" id="provider" placeholder="provider" name="provider">
    </div>

    <div class="w-100 my-3">
        <button class="btn btn-primary text-white w-100">Save Product Information</button>
    </div>

</form>
</body>
</html>