<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:src="@{/js/bootstrap.min.js}" ></script>
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script th:src="@{https://kit.fontawesome.com/a076d05399.js}" crossorigin="anonymous"></script>
    <title>Add Role</title>
</head>
<body class="bg-body-secondary">

<nav th:replace="fragments/header :: header">
</nav>

<div   class=" container position-relative  d-flex flex-column align-items-center justify-content-start mt-5 pt-5 w-100 ">
    <h3 class="bg-light shadow-lg rounded-2 w-50 text-primary text-center py-2">Add Role</h3>
    <form th:action="@{/roles/add}" th:object="${role}" class="bg-light shadow-lg rounded-2 py-5 px-5 col-md-7 d-flex flex-column justify-content-center align-items-center "  method="post">
        <div class="mb-3 w-100">
            <label for="roleId" class="form-label">Role ID</label>
            <input required th:field="*{roleId}" type="text" class="form-control" id="roleId" placeholder="Role ID">
        </div>
        <div class="mb-3 w-100">
            <label for="authority" class="form-label">Role Name</label>
            <input required th:field="*{authority}" type="text" class="form-control" id="authority" placeholder="Role Name" />
        </div>
        <div class="w-100 my-3">
            <button class="btn btn-primary text-white w-100">Save Role Information</button>
        </div>
    </form>
</div>


<script th:src="@{/js/bootstrap.bundle.min.js}" ></script>
<script th:src="@{/js/custom-script.js}" ></script>


</body>
</html>