<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:src="@{/js/bootstrap.min.js}" ></script>
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script th:src="@{https://kit.fontawesome.com/a076d05399.js}" crossorigin="anonymous"></script>
    <title>Add User</title>
</head>
<body class="bg-body-secondary">

<nav th:replace="fragments/header :: header">
</nav>

<div   class=" container position-relative  d-flex flex-column align-items-center justify-content-start mt-5 pt-5 w-100 ">
    <h3 class="bg-light shadow-lg rounded-2 w-50 text-primary text-center py-2">Add User</h3>
    <form th:action="@{/users/add}" th:object="${user}" class="bg-light shadow-lg rounded-2 py-5 px-5 col-md-7 d-flex flex-column justify-content-center align-items-center "  method="post">
        <div class="mb-3 w-100">
            <label for="username" class="form-label">Username</label>
            <input required th:field="*{username}" type="text" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="mb-3 w-100">
            <label for="name" class="form-label">Full Name</label>
            <input required th:field="*{name}" type="text" class="form-control" id="name" placeholder="Full Name">
        </div>

        <div class="mb-3 w-100">
            <label for="password" class="form-label">Password</label>
            <input required th:field="*{password}" type="text" class="form-control" id="password" placeholder="Password">
        </div>

        <div class="mb-3 w-100">
            <label for="email" class="form-label">E-mail</label>
            <input required th:field="*{email}" type="text" class="form-control" id="email" placeholder="E-mail">
        </div>

        <div class="mb-3 w-100">
            <label for="roles"  class="form-label">Role</label>
            <select class="form-select" id="roles" name="roles" th:object="${allRoles}">
                <option name="role" th:each="role : ${allRoles}" th:text="${role.getAuthority}" th:value="${role.getRoleId()}">role name</option>
            </select>
        </div>

        <div class="w-100 my-3">
            <button class="btn btn-primary text-white w-100">Save User Information</button>
        </div>
    </form>
</div>


<script th:src="@{/js/bootstrap.bundle.min.js}" ></script>
<script th:src="@{/js/custom-script.js}" ></script>


</body>
</html>