<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:src="@{/js/bootstrap.bundle.min.js}" ></script>
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}">
    <title>Registration | IMS Spring Boot</title>
</head>

<body>
<div sec:authorize="!isAuthenticated()" class="container d-flex flex-column align-items-center justify-content-center min-vh-100">

    <h1>Registration</h1>

    <form th:action="@{/register}" th:object="${registrationForm}" method="post" class="col-md-5">
        <div class="col">
            <div class="col">
                <label for="name" class="form-label">Name </label>
                <input type="text" class="form-control" placeholder="Enter full name" id="name" th:field="*{name}">
            </div>
            <div class="col">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" placeholder="Enter username" id="username" th:field="*{username}">
            </div>
            <div class="col">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" placeholder="Enter password" id="password" th:field="*{password}">
            </div>
            <div class="col">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" placeholder="Enter E-mail" id="email" th:field="*{email}">
            </div>

            <div class="col py-4">
                <button class="w-100 btn btn-success">Register</button>
            </div>

            <div class="col pt-2 row pb-5">
                <p>Already have an account? <a class="text-primary link-light" th:href="@{/login}">Login</a></p>
            </div>

        </div>
    </form>

</div>
</body>

</html>